{% extends "::FrontOfficeLayout.html.twig" %}

{% block body %}
	<div class="container">

        
        <!-- /.row -->

    </div>
    <!-- /.container -->
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
 
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block article_body %}
  {% endblock %}

{% endblock %}